extends layout

block content
  .main-container
    .cloud-image
        img(src='/images/successCloudNew.svg')
    .content
        .tweet-container
             a(href='http://www.assetproductions.net')
                img(src='/images/tweetThis.svg')    
        .content-body
            .success-text
                p advert
            .description 
                p App service has been successfully setup!
            .description
                p www.assetproductions.net
    
  .row
    .col-md-4
      h2 Advertise here
      p Clone your code repository and start developing your application on IDE of your choice
      p
        a.btn.btn-default(href='https://go.microsoft.com/fwlink/?linkid=862409') Learn more &raquo;
    .col-md-4
      h2 Continuous Integration
      p View your pipeline under Actions tab!
      p
        a.btn.btn-default(href='https://go.microsoft.com/fwlink/?linkid=862410') Learn more &raquo;
    .col-md-4
      h2 GitHub Actions
      p 1337 5p34k
      p Will hack your box!
        a.btn.btn-default(href='https://go.microsoft.com/fwlink/?linkid=862126') Learn more &raquo;
